#header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

#avisoLegal {
    position: bottom;
    margin-bottom: 15px;
    border: 2px solid red;
    width: 100%;
}

td { border: 2px solid red;}
table {border:  collapse; }
.icoLike {font-size: 20px;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    width: 200px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .btnStack {
    font-family: Oswald;
    background-color: orange;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid ;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  a.btnStack:hover {
    background-color: #000;
    color: #fff;
  }
  button.btnStack:hover {
    background-color: #000;
    color: #fff;
  }